#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  top: 0;
  /*background-image: url('../public/theBackgroundMaybe.webp');*/
}

/*.theHeader {*/
/*  position: absolute;*/
/*  text-align: center;*/
/*  top: 5%;*/
/*}*/

.theBackground {
  box-shadow: 100px 10px 100px 100px red inset;
}